<div class="container-fluid form">
  <div class="row border rounded d-flex align-items-center border-info justify-content-center boder-color">
    <div class="col-4 text-center">
      <%= form_with(model: article, local: true) do |form| %>
        <% if article.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

            <ul>
              <% article.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="article-field">
          <div class="field">
            <%= form.label :title %>
            <%= form.text_field :title %>
          </div>

          <div class="field">
            <%= form.label :content %>
            <%= form.text_area :content %>
          </div>

          <div class="field">
            <%= form.label :photo %>
            <%= form.file_field :photo %>
          </div>

          <div class="dropdown-divider"></div>
            <span class="color" href="#">Select a category</span>
            <span><%= select_tag(:category_id, options_for_select(@categories)) %></span>
            <span><%= link_to 'New Category', new_category_path %></h1></span> 
          </div>
        </div>
        
        

          <%# <div class="field">
            <%= form.label :author_id %>
            <%# <%= form.number_field :author_id %>
          <%# </div> %>

          <div class="actions">
            <%= form.submit %>
          </div>
        </div>
      </div>
        
    <% end %>
      </div>  
    </div> 
  </div>   
</div>  
