<p id="notice"><%= notice %></p>

<h1>Articles | <%= link_to 'New Category', new_category_path %></h1>

<br>
<br>
<br>
All Category<br>
<% Category.all.each do |cat| %>
  <%= link_to cat.name, articles_path(category: cat.name) %>
<br>  
<% end %>
<br>
<br>
<br>
In NavBar<br>
<% Category.where(priority: true).each do |cat| %>
  <%= link_to cat.name, articles_path(category: cat.name) %>
<br>  
<% end %>
<br>
<br>
<br>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Image</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.category.name %></td>
        <td><%= article.image %></td>
        <td><%= article.author_id %></td>
        <td><%= link_to 'Show', article %></td>
        <% if current_user %>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>

