<article class= "article-show d-flex justify-content-center align-items-center">
  <div class="card" style="width: 35rem">
    <div class="card-img-top">
      <%= image_tag("#{@article.image}") if @article.photo.attached? %>
    </div>
    <div class="card-body">
      <p class="title is-4">Category: <%= @article.category.name %></p>
      <h5 class="card-title"><%= @article.title %></h5>
      <p class="card-text"><%= @article.content %></p>
      <p>
        <%= link_to article_votes_path(@article), method: :post do %>
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          <%= @article.votes.count %>
        <% end %>
      </p>
      <%= link_to 'Edit', edit_category_path(@article) %>
      <%= link_to 'Back', articles_path %>
    </div>
  </div>
</article> 

