<div>
  <p>
    <strong>Category:</strong>
    <%= @article.category.name %>
  </p>

  <p>
    <%= @article.title %>
  </p>

  <p>
    <%= @article.content %>
  </p>

  <p>
    <strong>Photo:</strong>
    <%= image_tag(@article.photo) if @article.photo.attached? %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= @article.author_id %>
  </p>

  <%= link_to article_votes_path(@article), method: :post do %>
    <i class="fa fa-thumbs-up" aria-hidden="true"></i>
  <% end %>
  <%= @article.votes.count %>
  <%= link_to 'Edit', edit_article_path(@article) %> |
  <%= link_to 'Back', articles_path %>
</div>

