<article class= "article-show d-flex justify-content-center align-items-center">
  <div class="card" style="width: 40rem">
    <div class="card-img-top img-fluid">
      <%# <%= image_tag("#{@article.image}") if @article.photo.attached? %>
      
        <%= image_tag("#{@article.image}", class: 'img-article-show') %>
      
        <%# <%= image_tag(@article.photo) if @article.photo.attached? %>
      
    </div>
    <div class="card-body">
      <p class="title is-4">Category: <%= @article.category.name %></p>
      <p class="">Author: <%= @article.author.name %></p>
      <h5 class="card-title"><%= @article.title %></h5>
      <p class="card-text"><%= @article.content %></p>
      <p>
        <%= link_to article_votes_path(@article), method: :post do %>
          <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          <%= @article.votes.count %>
        <% end %>
      </p>
    </div>
  </div>
</article> 

